/* body {
    background-color: #c4c4c4;
} */

/* section logo */
@media screen and (min-width: 480px) {
    .header-list {
        display: none;
    }

    .address-list {
        display: none;
    }

    .icon-menu-hamburger {
        margin-right: auto;
        fill: #2E2F42;
    }
}

@media screen and (max-width:480px) {
    .header-list {
        display: none;
    }

    .address-list {
        display: none;
    }
}

/* ---------- */

/* section hero */
@media screen and (min-width: 480px) {
    .hero-title {
        width: 318px;
    }

    /* ---------------------------------- */