/* section logo */
@media screen and (min-width: 480px) {

    .header-list {
        display: none;
    }

    .address-list {
        display: none;
    }

    .icon-menu-hamburger {
        margin-right: auto;
        fill: #2E2F42;
    }

    .header-list {
        display: none;
    }

    .address-list {
        display: none;
    }


    /* section hero */

    .hero-title {
        width: 318px;
    }




    /* ---------------------------------- */

    /* Section Team */

    /* ------------ */







}