/* body {
    background-color: #c4c4c4;
} */
@media screen and (max-width: 1200px) {
    .decoration-item {
        display: none;
    }

    .our-works {
        display: none;
    }
}

/* section logo */
@media screen and (min-width: 480px) {

    .header-list {
        display: none;
    }

    .address-list {
        display: none;
    }

    /* .navigation-list {
        width: 480px;
    } */

    .icon-menu-hamburger {
        margin-right: auto;
        fill: #2E2F42;
    }
}

@media screen and (max-width:480px) {
    .header-list {
        display: none;
    }

    .address-list {
        display: none;
    }
}

/* ---------- */

/* section hero */
@media screen and (min-width: 480px) {
    .hero-title {
        width: 318px;
    }

    /* ---------------------------------- */
}

/* Section Team */

/* ------------ */